<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/Styling.css') }}">
        <title>Search UCU Congress Motions</title>
    </head>
    <body>
        <h1>Search UCU Motions</h1>
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Check motion">
        </form>
        <table>
            <thead>
                <tr>
                    <th>Contents</th>
                    <th>Distance</th>
                </tr>
            </thead>
            <tbody>
                {% for split in splits %}
                    <tr>
                        <td style="width:70%">{{ split[0] }}</td>
                        <td style="text-align: center">{{ split[1]|round(2) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>