<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/Styling.css') }}">
        <title>Search UCU Congress Motions</title>
    </head>
    <body>
        <h1>Search UCU Motions</h1>
        <div id="search_results">
            <form action="/" method="POST">
                <label for="content">Enter motion to compare with existing motions:</label>
                <br>
                <textarea name="content" id="content", placeholder="Search motions ...">{{ motions_content }}</textarea>
                <br>
                <label for="search_method">Select Search Method:</label>
                <select name="search_method" id = "search_method">
                    <option value="all_mpnet_base_v2">all-mpnet-base-v2</option>
                    <option value="tf_idf">if.idf</option>
                </select>
                <br>
                <input type="submit" value="Search Motions">
            </form>
            <table>
                <thead>
                    <tr>
                        <th style="width:60%">Contents</th>
                        <th style="width:5%">Distance</th>
                        <th>Links</th>
                        <th style="width:10%">Session</th>
                    </tr>
                </thead>
                <tbody>
                    {% for split in splits %}
                        <tr>
                            <td>{{ split[0] }}</td>
                            <td style="text-align: center">{{ split[1]|round(2) }}</td>
                            <td><a href={{ split[2] }}>{{ split[3] }}</a></td>
                            <td>{{ split[4] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>