<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/Styling.css') }}">
        <title>Search UCU Congress Motions</title>
    </head>
    <body>
        <h1>Search UCU Motions</h1>
        <div id="search_results">
            <form action="/" method="POST">
                <textarea name="content" id="content", placeholder="Search motions ...">{{ motions_content }}</textarea>
                <input type="submit" value="Check motion">
            </form>
            <table>
                <thead>
                    <tr>
                        <th style="width:60%">Contents</th>
                        <th style="width:10%">Distance</th>
                        <th>Links</th>
                    </tr>
                </thead>
                <tbody>
                    {% for split in splits %}
                        <tr>
                            <td >{{ split[0] }}</td>
                            <td style="text-align: center">{{ split[1]|round(2) }}</td>
                            <td><a href={{ split[2] }}>{{ split[3] }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>