<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/Styling.css') }}">
        <script src="{{ url_for('static', filename='dynamic/sort.js') }}"></script>
        <title>Search UCU Congress Motions</title>
    </head>
    <body>
        <div class="nav_bar">
            <a href="{{ url_for('search')}}">Home</a>
            {% if not admin %}
                <a href="{{ url_for('login')}}">Admin Login</a>
            {% else %}
                <a href="{{ url_for('logout')}}">Logout</a>
            {% endif %}
        </div>
        <form action="/register" method="POST" class="register">
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="username">
            <br>
            <label for="username">Password:</label>
            <input type="password" name="password" placeholder="password">
            <br>
            <label for="username">Confirm:</label>
            <input type="password" name="confirm" placeholder="password">
            <br>
            <input type="submit" name="register" value="Register">
            {% if username %}
                <p>That username is already taken</p>
            {% endif %}
            {% if password %}
                <p class="error">Those passwords don't match</p>
            {% endif %}
        </form>
    </body>
</html>