<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/Styling.css') }}">
        <script src="{{ url_for('static', filename='dynamic/sort.js') }}"></script>
        <title>Search UCU Congress Motions</title>
    </head>
    <body>
        <div class="nav_bar">
            <a href="{{ url_for('search')}}">Home</a>
            <a href="{{ url_for('help')}}">Help</a>
            {% if not user %}
                <a href="{{ url_for('login')}}">Login</a>
            {% else %}
                <a href="{{ url_for('logout')}}">Logout</a>
            {% endif %}
            {% if admin %}
                <a href="{{ url_for('survey')}}">Survey</a>
                <a href="{{ url_for('register')}}">Register User</a>
                <a href="{{ url_for('scrape')}}">Scrape Motions</a>
            {% endif %}
        </div>
        <h1>Survey</h1>
        {% if admin %}
            <form action="/make_questions" method="POST" class="query">
                <input type="submit" name="submit_buttom" value="Generate Questions">
            </form>
            <br>
            <br>
            <br>
        {% endif %}
        {% if not finished %}
            <p>Which of the following motions snippets are relevant to the following snippet?:</p>
            <p id="main_split_id"><strong>{{split_main}}</strong></p>
            <p id="main_motion_id">{{motion_main}}</p>
            <form action="/survey" method="POST" class="query">
                <select name="search_method" id = "search_method">
                    {% for meth in search_methods %}
                        <option value="{{meth}}" {% if meth==method %} selected {% endif %}>{{meth}}</option>
                    {% endfor %}
                </select>
                <table id="results_table">
                    <thead>
                        <tr>
                            <th style="width:5%" >Relevant</th>
                            <th                  >Snippet</th>
                            <th style="width:25%">Motion Title</th>
                            <th style="width:5%" >Similarity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for split in splits %}
                            <tr>
                                <td style="text-align: center"><input type="checkbox" name="relevant" value="{{split[0]}}"></td>
                                <td id="{{split[0]}}" onclick="expand_content('{{ split[0] }}')" title="Click to expand">{{ split[2] }}</td>
                                <td><a href={{ split[4] }}>{{ split[5] }}</a></td>
                                <td style="text-align: center">{{ split[1]|round(2) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <input type="hidden" name="q_id" value="{{question}}">
                <input type="submit" name="submit_buttom" value="Submit Answers">
            </form>
        {% else %}
            <p>Thank you! You have answered all the questions.</p>
        {% endif %}
        {% if motions|length>0 %}
            <script type="text/javascript">
                var motions_raw,init_sep,motions_sep,motions,s_main,m_motion;;
                motions_raw = "{{motions}}";
                init_sep = motions_raw.split("&#39;");
                motions_sep = []
                for (var i=0;i<init_sep.length;i++){
                    if (i%2==1){
                        motions_sep.push(init_sep[i])
                    }
                }
                motions = []
                for (var i=0;i<motions_sep.length;i+=3){
                    motions.push([motions_sep[i],replace_special(motions_sep[i+1]),replace_special(motions_sep[i+2]),false]);
                }

                
                m_main = "{{motion_main}}";
                s_main = "{{split_main}}";
                m_main = replace_special(m_main);
                s_main = replace_special(s_main);
                m_main = m_main.replaceAll(s_main,'<span style="color:red;font-weight:bold;">'+s_main+"</span>");
                document.getElementById("main_motion_id").innerHTML = m_main;
            </script>
        {% endif %}
    </body>
</html>